.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: #8e44ad;
	-webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.25);
	z-index: 10;
}
.navbar-link a{
	display: inline-block;
	margin: 0 15px;
	font-size: 16px;
	color: white;
	position: relative;
}
.navbar-link a:before{
	position: absolute;
	bottom: 0;
	content: " ";
	width: 0%;
	background-color: white;
	height: 2px;
	left: 50%;
	/*transform: translateX(-50%);*/
	transition: all .5s;
}
.navbar-link a:hover:before{
	width: 100%;
	left: 0%;
	transition: all .5s;
}
