<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/">
    <img src="https://avatars0.githubusercontent.com/u/32596943?v=4" width="45" height="45" alt="wejustdevelop">
  </a>
  <a routerLinkActive="active" routerLink="/">Home</a>
  <a routerLinkActive="active" routerLink="/jobs">Jobs</a>
  <a routerLinkActive="active" routerLink="/network">Network</a>
  <a routerLinkActive="active" routerLink="/about">About Us</a>
  <a routerLinkActive="active" routerLink="/contact">Contact Us</a>
  <a routerLinkActive="active" routerLink="/faq">FAQ</a>
</nav>
