.header {
    color: #fff;
  }
  .fa {
    margin-left: 5px;
  }

  div.user {
    width: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
  }
  
  div.container {
    text-align: center;
    padding: 5px;
  }
