<div class="container">
	<div class="row">

		<div class="col-sm-8 offset-sm-2">
			<div class="footer-border"></div>
			<div class="fb-page" data-href="https://www.facebook.com/wejustdevelop" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/wejustdevelop" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/wejustdevelop">Wejustdevelop</a></blockquote></div>
			<p class="m-0 text-center" style="color: white;">Copyright &copy; WeJustDevelop 2017</p>
		</div>

	</div>
</div>
