/* You can add global styles to this file, and also import other style files */
body {
    background: url('/assets/img/i.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    line-height: 28px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: white;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

nav a {
  font-weight: 500;
}

h1, h2 {
	margin-top: 10px;
	font-size: 34px;
    font-weight: 100;
    color: white;
    line-height: 48px;
}

h3 {
	font-size: 20px;
    font-weight: 300;
    color: white;
    line-height: 26px;
}

img { max-width: 100%; }

::-moz-selection { background: #42c5ea; color: #fff; text-shadow: none; }
::selection { background: #42c5ea; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
	padding: 0;
	background: #555;
	background: rgba(0, 0, 0, 0.3);
	font-size: 20px;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
	outline: 0; opacity: 0.6;
	background: #555; background: rgba(0, 0, 0, 0.3); color: #fff;
}


/***** Top content *****/

.top-content { padding: 60px 0 80px 0; }
.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover,
.top-content .description a:focus { border: 0; }

.show-forms { padding-top: 40px; font-size: 20px; color: #fff; line-height: 26px; text-align: left; }
.show-register-form, .show-forms-divider, .show-login-form { opacity: 0.6; }
.show-register-form, .show-login-form {
	cursor: pointer;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.show-register-form.active, .show-login-form.active,
.show-register-form:hover, .show-login-form:hover { opacity: 1; }

.login-form { display: none; }

.r-form { padding-top: 40px; }
.r-form .form-group { margin-bottom: 25px; }
.r-form textarea { height: 100px; }
.r-form .input-error { border-color: #42c5ea; }

.l-form { padding-top: 40px; }
.l-form .form-group { margin-bottom: 25px; }
.l-form .input-error { border-color: #42c5ea; }

.forms-right-icons .row { padding-bottom: 15px; }
.forms-right-icons { padding-top: 40px; color: #fff; text-align: left; }
.forms-right-icons h3 { margin-top: 0; color: #fff; }
.forms-right-icons .icon { text-align: right; font-size: 30px; line-height: 34px; }

.social-login { margin-top: 35px; color: #fff; }
.social-login-buttons { margin-top: 20px; }


/***** Footer *****/

footer { padding-bottom: 70px; color: #fff; }

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer a { color: #fff; border-bottom: 1px dotted #fff; }
footer a:hover, footer a:focus { color: #fff; border: 0; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.forms-right-icons .icon { font-size: 22px; }

}

@media (max-width: 767px) {

	.show-forms, .forms-right-icons, .forms-right-icons .icon { text-align: center; }
	.forms-right-icons .icon { padding-top: 10px; }
	.forms-right-icons h3 { margin-top: 15px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 28px; }

}


input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
	height: 44px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 28px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #bbb;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



button.btn {
	height: 44px;
    margin: 0;
    padding: 0 40px;
    vertical-align: middle;
    background: #4f5a96;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #42c5ea; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #42c5ea; color: #fff; }

.fb-page.fb_iframe_widget {margin:10px}
